<ul *ngFor = "let msg of msgs">
    <li>{{msg.name}} - {{msg.email}} - {{ msg.message}}</li>
</ul>

<form [formGroup]="msgForm"  (ngSubmit)="addMsg()">
    <label>
        Name:<br>
        <input type="text" formControlName="name" pInputText class="p-inputtext-sm"/>
    </label><br><br>
    <label>
        Email:<br>
        <input type="text" formControlName="email" pInputText class="p-inputtext-sm"/>
    </label><br><br>
    <label>
        Message:<br>
        <textarea type="text" formControlName="message" pInputTextarea class="p-inputtext-sm"></textarea>
    </label><br><br>

    <button pButton type="button" label="Send" class="p-button-sm" [disabled]="!msgForm.valid"></button>
</form>